<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <h1>Bem-vindo ao Express com EJS + Banco de Dados!</h1>
    <p>Esta é uma aplicação gerada com o Express Generator.</p>
    <ul>
      <li><a href="/contato">Cadastrar novo contato</a></li>
      <li><a href="/contato/lista">Listar contatos cadastrado</a></li>
    </ul>

    <a href="/inscricao">Formulário de Inscrição</a><br>
    <a href="/bug_report">Formulário de Relatório de Bug</a><br>
    <a href="/servicos">Ir para a página de Serviços</a><br>
    <a href="/about">Ir para a página sobre nós</a><br>
</body>
</html>